*{
	margin:0%;
}
.navbar{
	padding: 1.8%;
}
.navbar a{
	text-decoration: none;
	font-size: 17px;
	color: black;
	margin-left: 4%;
	vertical-align: middle;
	font-weight: bold;
}
.logo{
	margin: 0% 4% !important;	
}
#signin{
	background-color: #00baf2;
	color: white;
	border-radius: 25px;
	padding: 0.4% 0.7%;
	margin-left: 8%;
	margin-top: 4%;
}
.wallet{
	background-color:#f6f6f6;
	text-align: center;
	padding: 1%;
}
.sec2{
	display: flex;
	justify-content: space-between;
	padding: 5% 0% 5% 5%;
	margin-top: 2%;
}
.UPI{
	margin-left: 3%;
}
.UPI p{
	font-size: 24px;
	font-weight: normal;
	margin-left: 3%;
}
.UPI h1{
	margin-left: 3%;
}
#app{
	border: 1px solid black;
	width: 40%;
	border-radius: 23px;
	padding: 2%;
	background-color: black;
	color: white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:6%;		
}
#app:hover{
	background-color: white;
	color: black;
}
#app i{
	margin: 0% 2%;
}
.one{
	margin-top: 5%;
}
.two{
	margin-top: 6%;
}
.head2{
	margin-top: 3%;
	padding-top: 4%;
	padding-left: 7%;
	text-align: left;
	font-size: 35px;
	color: white;
}
.sec3{
	margin-top: 0%;
	margin-bottom: 0%;
	background-color: #00adf2;
}
.div3{
	display: flex;
	justify-content: space-around;
	padding: 4% 4% 4%;
	margin-left: 4%;
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 18px;
	line-height: 30px;	
	font-family: 'Poppins', sans-serif;
}
.div3 a{
	text-decoration: none;
	color: white;
}
.head3{
	
	padding-top: 4%;
	padding-left: 7%;
	text-align: left;
	font-size: 35px;
	color: white;
}
.sec4{
	margin-top: 0%;
	margin-bottom: 0%;
	background-color: #2b54a6;
}
.div4{
	display: flex;
	justify-content: space-around;
	padding:  4% 4% 4%;
	margin-left: 4%;
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 18px;
	line-height: 30px;	
	font-family: 'Poppins', sans-serif;
}
.div4 a{
	text-decoration: none;
	color: white;	
}
#h3{
	margin-top: 8% ;
	margin-left: 10%;
	font-size: 40px;
	font-weight: bold;
}
.img1{
	margin-left: 15%;
	margin-top: 10%;
}
.div5{
	display: flex;
	height: 65%;
	padding: auto;
}	
.sec5{
	display: flex;
	justify-content: center;
	border: 1px solid white;
}

#h3{
	margin-bottom: 5%
}
#appp{
	border: 1px solid black;
	width: 40%;
	border-radius: 23px;
	padding: 2%;
	background-color: black;
	color: white;
	font-size: 17px;
	margin-left: 4%;
	margin-top:6%;		
}
#appp:hover{
	background-color: white;
	color: black;
}
.i19{
	padding-left: 10%;
	padding-bottom:5%;
}
